@charset "UTF-8";



 #loginMenu {
    	float: left;
    	width: 90%;
    	margin : 0 60px;
    	 text-align: right;
	}
	#loginMenu > a {
		font-size:13px;
		text-decoration: underline;
	}
	 #loginMenu > span {
	    font-size:11px;
	    color:#c8c8c8;
	}
	
	img {
		width : 20px;
		height : 20px;
	}
	
