<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmt.member.dao.MemberDAO">

	<insert id="join" parameterType="hashmap">
		INSERT INTO member(member_id, member_pw, member_name, member_email, member_birth, member_status)
		VALUES(#{id},#{pw},#{name},#{email},#{birth}, '일반회원')
	</insert>
	
	<select id="idoverlay" parameterType="String" resultType="String">
		SELECT member_id FROM member WHERE member_id = #{chkId}
	</select>
	
	<select id="emailoverlay" parameterType="String" resultType="String">
		SELECT member_email FROM member WHERE member_email = #{chkEmail}
	</select>
	
	<select id="login" resultType="String">
		SELECT member_id FROM member WHERE member_id = #{param1} AND member_pw = #{param2}
	</select>
	
	<!-- 암호화 된 비밀번호 조회 -->
	<select id="con" resultType="String">
		SELECT member_pw FROM member WHERE member_id = #{id}
	</select>
	
	<!-- 회원상태 조회 -->
	<select id="getMbClass" resultType="String">
		SELECT member_status FROM member WHERE member_id = #{param1} AND member_pw = #{param2}
	</select>
	
	<select id="idFind" resultType="String">
		SELECT member_id FROM member WHERE member_email = #{param1} AND member_birth = #{param2}
	</select>
	
	<select id="pwFind" resultType="String">
		SELECT member_pw FROM member WHERE member_id = #{param1} AND member_email = #{param2}
	</select>
	
	<update id="pwUpdate">
		UPDATE member SET member_pw = #{param2} WHERE member_id = #{param1}
	</update>
	
	
	<insert id="profileRegister" 
		useGeneratedKeys="true"
		keyColumn="profile_no"
		keyProperty="profile_no"
		parameterType="member">
		INSERT INTO profile (food_no, member_id, grade_no, eat_speed, profile_gender, profile_job)
			VALUES(#{food_no}, #{member_id}, '1', #{eat_speed}, #{profile_gender}, #{profile_job})
	</insert>
	
	<insert id="fileWrite">
		INSERT INTO photo(class_no, photo_oriFileName, photo_newFileName, idx)
			VALUES('9', #{param1}, #{param2}, #{param3})
	</insert>
	
	<select id="profileExist" resultType="String">
		SELECT member_id FROM profile WHERE member_id = #{param1}
	</select>
	
	<select id="foodList" resultType="member">
		SELECT * FROM food
	</select>
	
	
</mapper>