<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmt.admin.dao.GradeDAO">
	
	<!-- <select id="gradeList" resultType="grade" parameterType="hashmap" >
		select * from grade g
	</select>
	 
	<update id="update" parameterType="String">
		UPDATE grade SET ${param1} = #{param2}
			WHERE grade_no = #{param3}
	</update> -->
	
	
	<select id="dojang_no"  parameterType="string" resultType="int">
		select count(dojang_no) from dojanglist d where d.leader_id = #{param1}
	</select>
	
	<select id="dojang_no2"  parameterType="string" resultType="int">
		select count(dojangPost_no) from dojangpost d where d.member_id = #{param1}
	</select>
	
	<select id="il_no"  parameterType="string" resultType="int">
		select count(lightning_no) from lightninglist l where l.leader_id = #{param1};
	</select>
	
	<select id="list" resultType="hashmap">
		select * from grade g
	</select>
	
	<update id="gradeUpdate" parameterType="Hashmap">
		update grade set
			  grade_post = #{grade_post}
			, grade_comment = #{grade_comment}
			, grade_color = #{grade_color}
			, grade_name = #{grade_name}
		where 
			grade_no = #{grade_no}
	</update>
	
	
	
	
	
	
</mapper>