<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jmt.groupreview.dao.grCommentDAO">
	<!-- 댓글 작성 -->
	<insert id="grWrite" parameterType="com.jmt.groupreview.dto.grCommentDTO">
	   insert into comment(member_id,comment_content,idx,class_no)
	   values(#{member_id},#{comment_content},#{idx},6)
	</insert>
	
	<!-- 댓글 리스트 호출 -->
	<select id="groupReviewList"  resultType="com.jmt.groupreview.dto.grCommentDTO">
	    select comment_no,idx,comment_content,member_id,comment_date
	    from comment where class_no=6 and idx=#{param1} and comment_status="공개"
  </select>
</mapper>