<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmt.groupreview.dao.GroupReviewDAO">
	<!-- class_no 1(번개모임리스트), 3(도장깨기리스트) -->
	<select id="groupReviewList" resultType="com.jmt.groupreview.dto.GroupReviewDTO">
		 SELECT
			 g.groupReview_no
			 ,g.review_title
			 ,l.lightning_title
			 ,dojang_title
			 ,c.class_name
			 ,g.review_date
		 FROM groupreview g
		 LEFT OUTER join lightninglist l on l.lightning_no = idx and g.class_no = 1
		 LEFT OUTER join dojangList ON dojang_no = idx AND g.class_no = 3
		 JOIN codetable c on g.class_no = c.class_no
		<where>
			<if test="searchCate != null and searchCate !=''">
				<if test="searchCate.equals('lightning')">
					AND lightning_title LIKE CONCAT('%',#{keyword},'%')
				</if>
				<if test="searchCate.equals('dojang')">
					AND dojang_title LIKE CONCAT('%',#{keyword},'%')
				</if>
			</if>
		</where>
		ORDER BY groupReview_no DESC limit #{cnt} OFFSET #{offset}
	</select>
	
	<select id="allCount" parameterType="hashmap" resultType="int">
		SELECT COUNT(groupReview_no) 
		FROM groupreview g
		LEFT OUTER join lightninglist l on l.lightning_no = idx and g.class_no = 1
		LEFT OUTER join dojangList ON dojang_no = idx AND g.class_no = 3
		JOIN codetable c on g.class_no = c.class_no
		<where>
			<if test="searchCate != null and searchCate !=''">
				<if test="searchCate.equals('lightning')">
					AND lightning_title LIKE CONCAT('%',#{keyword},'%')
				</if>
				<if test="searchCate.equals('dojang')">
					AND dojang_title LIKE CONCAT('%',#{keyword},'%')
				</if>
			</if>
		</where>
	</select>
	
	<!-- 모임후기 상세보기 -->
	<select id="groupReviewDetail" parameterType="String" resultType="com.jmt.groupreview.dto.GroupReviewDTO">
		SELECT review_title
			,groupReview.member_id
			,member_name
			,review_date
			,lightning_title
			,dojang_title
			,class_name
			,review_content
			,groupReview_no
			,groupReview.idx
		FROM groupReview
		LEFT OUTER JOIN lightningList ON lightning_no = idx and groupReview.class_no = 1
		LEFT OUTER JOIN dojangList ON dojang_no = idx AND groupReview.class_no = 3
		LEFT OUTER JOIN member ON member.member_id = groupReview.member_id
		JOIN codeTable ON groupReview.class_no = codeTable.class_no
		WHERE groupReview_no = #{groupReview_no}
	</select>
	
	<!-- 모임검색 팝업 -->
	<select id="groupSearchList" resultType="com.jmt.groupreview.dto.GroupReviewDTO">
		SELECT lightning_title AS title
			,dojang_title AS title
			,d.leader_id
			,l.leader_id
			,d.class_no
			,l.class_no
			,d.dojang_no AS group_no
			,l.lightning_no AS group_no
		FROM member m
		LEFT OUTER JOIN dojangList d ON d.leader_id = m.member_id 
		LEFT OUTER JOIN lightningList l ON l.leader_id = m.member_id
		LEFT OUTER JOIN apply a ON a.member_id = m.member_id
		<!-- <where>
			<if test="groupSortChange != null and groupSortChange !=''">
				<if test="groupSortChange.equals('lightning')">
					AND 
				</if>
			</if>
		</where> -->
		WHERE m.member_id = #{param1} AND a.status = "승인"
	</select>
	
	<!-- 글쓰기 -->
	<insert id="groupReviewRegister" parameterType="com.jmt.groupreview.dto.GroupReviewDTO"
	useGeneratedKeys="true" keyColumn="groupReview_no" keyProperty="groupReview_no">
		INSERT INTO groupReview(review_title,review_content,groupReview_status,member_id,class_no)
		VALUES(#{review_title},#{review_content},"노출",#{member_id},6)
	</insert>
	
	<!-- DB에 파일 저장 -->
	<insert id="grFileWrite">
		INSERT INTO photo(newFileName,oriFileName,class_no,idx)
		VALUES(#{param1},#{param2},6,#{idx})
	</insert>
	
	<select id="grPhotoList" parameterType="String" resultType="com.jmt.groupreview.dto.GroupReviewDTO">
		SELECT * FROM photo WHERE idx = #{idx}
	</select>
	
	<select id="lightningCall" resultType="com.jmt.groupreview.dto.GroupReviewDTO">
		SELECT l.leader_id,lightning_title as title,lightning_no as groupNumber FROM apply a 
		LEFT OUTER JOIN lightningList l ON l.leader_id = a.member_id
		JOIN `member` m ON m.member_id = a.member_id
		WHERE l.class_no = 1 AND m.member_id = #{param1} AND status="승인"
	</select>
	
	<select id="dojangCall" resultType="com.jmt.groupreview.dto.GroupReviewDTO">
		SELECT d.leader_id,dojang_title as title,dojang_no as groupNumber FROM apply a 
		LEFT OUTER JOIN dojangList d ON d.leader_id = a.member_id
		JOIN `member` m ON m.member_id = a.member_id
		WHERE d.class_no = 3 AND m.member_id = #{param1} AND status="승인"
	</select>
	
 	<!-- <select id="joinGroup" resultType="com.jmt.groupreview.dto.GroupReviewDTO">
		SELECT lightning_title as title
			,dojang_title as title
			,d.leader_id
			,l.leader_id
			,d.dojang_no as group_no
			,l.lightning_no as group_no
		FROM member m
		LEFT OUTER JOIN dojangList d ON d.leader_id = m.member_id 
		LEFT OUTER JOIN lightningList l ON l.leader_id = m.member_id
		LEFT OUTER JOIN groupReview g  ON g.member_id = m.member_id
		LEFT OUTER JOIN apply a ON a.member_id = m.member_id
		WHERE m.member_id = #{param1} AND a.status = "승인"
	</select> -->
	
	<update id="groupSearchEnd" parameterType="hashmap">
		UPDATE groupReview SET idx=#{lightning_no} WHERE lightning_no=#{lightning_no}
	</update>
</mapper>