<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jmt.moim.dao.CommentDAO">
	
	<insert id="cmtWrite" parameterType="comment">
	   INSERT INTO comment(member_id,comment_content,idx,class_no)
	   	VALUES(#{member_id},#{comment_content},#{idx},#{class_no})
  </insert>
  
  <select id="cmtList"  resultType="comment">
	     SELECT 
	     	comment_no,idx,comment_content,member_id,comment_date
			 ,(select photo_no from photo p where p.class_no=9 and p.idx = (select profile_no from profile f where f.member_id =c.member_id)) as photo_no
			 ,(select grade_no from profile p join grade using(grade_no) where p.member_id = c.member_id) as grade_no
			 ,(select grade_name from profile p join grade using(grade_no) where p.member_id = c.member_id) as grade_name
	   	 FROM comment c WHERE class_no=#{param1} and idx=#{param2} and comment_status="공개"
  </select>
  
  
  <update id="cmtDel" parameterType="String">
    	update comment set comment_status = "삭제" where comment_no = #{comment_no}
  </update>
<!-- 
   SELECT comment_no,idx,comment_content,member_id,comment_date
	   	 FROM comment WHERE class_no=#{param1} and idx=#{param2} and comment_status="공개"
	   	 
	   	 
  <update id="modify" parameterType="CommentVO">
	   update tbl_comment set content = #{content}, modd8 = sysdate
	   where cno = #{cno}
  </update>
  
 -->

</mapper>