<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmt.moim.dao.DojangDAO">

	<select id="dojangList" parameterType="hashmap" resultType="dojang">
		SELECT 
			d.dojang_no
			, f.food_name
			, d.leader_id
			, d.dojang_title
			, d.dojang_create
			,(select count(member_id)+1 from apply a where class_no = 3 and status = '승인' and a.idx = d.dojang_no) as member_count
			,(select status from apply a where class_no = 3 and a.idx = d.dojang_no and member_id=#{loginId}) as test
			, d.dojang_status
			, d.people_num
			, d.gender
		FROM dojanglist d
		JOIN food f ON d.food_no = f.food_no
		
		<include refid="selectedListSql"></include>
		
		ORDER BY d.dojang_no DESC limit #{cnt} OFFSET #{offset}
	</select>
	
	<sql id="selectedListSql">
		<trim prefix="where" suffixOverrides="and">
		
			<if test = "search != null &amp;&amp; !search.equals('')">
				d.dojang_title LIKE CONCAT('%',#{search}, '%') and
			</if>
		
			<if test = "foodname != null &amp;&amp; !foodname.equals('')">
				d.food_no = #{foodname} and 
			</if>
			
			<if test = "eat_speed != null &amp;&amp; !eat_speed.equals('')">
				eat_speed = #{eat_speed} and 
			</if>
			
			<if test = "job != null &amp;&amp; !job.equals('')">
				job = #{job} and 
			</if>
			
			<if test = "gender!=null">
				d.gender = #{gender} and 
			</if>
			
		</trim>
	</sql>
	
	
	
	<select id="allCount" parameterType="hashmap" resultType="int">
		SELECT
			COUNT(dojang_no)
		FROM dojanglist d
		
		<include refid="selectedListSql"></include>
		
	</select>
	
	<select id="foodname" resultType="dojang">
		SELECT food_no, food_name FROM food
	</select>
	
	
	<select id="dojangDetail" parameterType="String" resultType="dojang">
		SELECT 
			d.dojang_no
			,d.dojang_title
			,d.leader_id
			,d.people_num
			,d.gender
			,d.eat_speed
			,d.job
			,(select count(member_id)+1 from apply a where class_no = 3 and status = '승인' and a.idx = d.dojang_no) as member_count
			,(select status from apply a where class_no = 3 and a.idx = d.dojang_no and member_id=#{loginId}) as test
			,d.dojang_create
			,f.food_name
			,d.dojang_content
			FROM dojanglist d
			JOIN food f ON d.food_no = f.food_no
			WHERE d.dojang_no = #{dojang_no}	
	</select>
	
	<select id="dojangGreview" parameterType="String" resultType="dojang">
			SELECT
				g.groupReview_no
				,g.member_id
				,g.review_title
				,review_date 
				FROM groupreview g
				JOIN dojanglist d ON d.dojang_no = idx AND g.class_no = 3
				WHERE d.dojang_no = #{dojang_no}
	</select>
	
	<insert id="dojangApply">
		INSERT INTO apply(idx,class_no,status,member_id)
			VALUES(#{param1},3,'대기',#{param2})
	</insert>
	
	<select id="applyStatus" resultType="dojang">
		SELECT status 
			FROM apply a 
		WHERE class_no = 3 AND member_id = #{param1} AND idx = #{param2}
	</select>
	
	<select id="profileStatus" resultType="dojang">
		SELECT 
			eat_speed
			,profile_gender
			,profile_job
			FROM profile WHERE member_id = #{param1}
	</select>
	
	<insert id="dojangReg" parameterType="hashmap">
		INSERT INTO dojanglist(dojang_title,food_no,people_num,eat_speed,gender,job,dojang_content,leader_id,dojang_status,class_no)
			VALUES (#{dojang_title},#{food_name},#{points},#{eat_speed},#{gender},#{job},#{dojang_content},#{loginId},'모집중',3)
	</insert>
	
	
	<select id="reported" resultType="String">
		SELECT leader_id FROM dojanglist where dojang_no =#{param1}
	</select>
	
	
	<insert id="dojangReport" parameterType="hashmap">
		INSERT INTO report (report_reason,class_no,idx,reporter,reported)
			VALUES(
			<if test="!report_reason.equals('기타')">#{report_reason}</if>
			<if test="report_reason.equals('기타')">#{report_text}</if>
			,3,#{dojang_no},#{reporter},#{reported})
	</insert>
	
	<select id="dojangHome" resultType="dojang" parameterType="hashmap">
		SELECT dojang_no,dojangPost_subject,dojangPost_content,member_id,dojangPost_date  
			FROM dojangpost where dojang_no = #{dojang_no}
	</select>
	
	<select id="dojangHomeMember" resultType="dojang">
		SELECT member_id FROM apply WHERE class_no = 3 AND status = '승인' AND idx = #{param1};
	</select>
	
</mapper>