<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmt.moim.dao.LeaderDAO">
	<!-- 번개모임 상세 -->
	<select id="lightDetail" resultType="leader">
		SELECT (SELECT member_name FROM `member` m WHERE m.member_id = #{param2}) AS leaderName <!-- leader_id = #{param2} -->
			,(SELECT photo_newFileName FROM photo p WHERE p.class_no=9 AND p.idx = (SELECT profile_no FROM profile f WHERE f.member_id =#{param2})) AS photo_newFileName
			,l.lightning_title
			,l.lightning_status
			,(select count(member_id)+1 from apply a where class_no = 1 and status = '승인' and a.idx = l.lightning_no) as member_count
			,l.member_num 
			,l.gender
			,l.food_no
			,food_name
			,l.eat_speed
			,lightning_create
			,l.job
			,l.lightning_content
			,l.lightning_no
			,l.class_no
		FROM lightningList l 
		JOIN food f ON l.food_no = f.food_no
		WHERE l.lightning_no = #{param1} <!-- #{param1} -->
	</select>
	
	<!-- 도장깨기 상세 -->
	<select id="dojangDetail" resultType="leader">
		SELECT (SELECT member_name FROM `member` m WHERE m.member_id = #{param2}) AS leaderName <!-- leader_id = #{param2} -->
			,(SELECT photo_newFileName FROM photo p WHERE p.class_no=9 AND p.idx = (SELECT profile_no FROM profile f WHERE f.member_id =#{param2})) AS photo_newFileName
			,d.dojang_title
			,d.dojang_status  
			,(select count(member_id)+1 from apply a where class_no = 3 and status = '승인' and a.idx = d.dojang_no) as member_count
			,d.people_num 
			,d.gender
			,d.food_no
			,food_name
			,d.eat_speed
			,d.dojang_create 
			,d.job
			,d.dojang_content
			,d.dojang_no
			,d.class_no
		FROM dojangList d 
		JOIN food f ON d.food_no = f.food_no
		WHERE d.dojang_no = #{param1} <!-- #{param1} -->
	</select>
	
	<!-- 번개 최근 게시글(댓글) -->
	<select id="lightRecentPost" resultType="leader">
		<!-- SELECT comment_content, comment_date, c.member_id, c.idx FROM comment c
		WHERE class_no = 2 AND comment_status = "공개" AND c.idx = #{param1}; --> <!-- #{param1} -->
		
		SELECT l.lightning_no,l.lightning_title,l.lightning_create FROM lightningList l WHERE lightning_no = #{param1}
	</select>
	
	<!-- 도장깨기 최근 게시글 -->
	<select id="dojangRecentPost" resultType="leader">
		SELECT p.dojangPost_no
			,p.member_id
			,p.dojangPost_subject
			,p.dojangPost_date
			,p.dojang_no
		FROM dojangPost p
		JOIN dojangList d ON d.dojang_no = p.dojang_no
		WHERE p.dojang_no = #{param1} <!-- #{param1} -->
	</select>
	
	<!-- 번개 가입 승인 대기 회원 -->
	<select id="lightJoinWait" resultType="leader">
		SELECT a.member_id,a.status FROM apply a 
		WHERE a.status = "대기" AND a.class_no = 1 AND a.idx = #{param1}
	</select>
	
	<!-- 도장깨기 가입 승인 대기 회원 -->
	<select id="dojangJoinWait" resultType="leader">
		SELECT a.member_id,a.status FROM apply a 
		WHERE a.status = "대기" AND a.class_no = 3 AND a.idx = #{param1}
	</select>
	
	<!-- 번개 가입 대기상태 수정 -->
	<update id="lightJoinWaitUp" parameterType="hashmap">
		<!-- UPDATE apply a
		JOIN codeTable ON a.class_no ON c.class_no = 1
		LEFT OUTER JOIN lightningList l ON l.class_no = c.class_no
		SET a.status = #{lightning_status}
		WHERE a.idx = #{lightning_no} AND a.member_id = #{member_id} -->
		
		UPDATE apply a
		SET a.status = #{status}
		WHERE a.class_no = 1 AND a.idx = #{lightning_no} 
		AND a.member_id = #{member_id}
	</update>
	
	<!-- 번개 가입 대기상태 변경 시 알림 -->
	<insert id="JoinStatusChangeNoti" parameterType="hashmap">
		INSERT INTO noti(class_no,noti_content,idx,info,member_id)
		values(1
				,CONCAT("모임 가입 ", #{status},"되었습니다.")
				,#{lightning_no}
				,(select lightning_title from lightninglist where lightning_no = #{lightning_no})
				,#{member_id})
	</insert>
	
	<!-- 도장깨기 가입 대기상태 수정 -->
	<update id="dojangJoinWaitUp" parameterType="hashmap">
		<!-- UPDATE apply a
		JOIN codeTable ON a.class_no ON c.class_no = 3
		LEFT OUTER JOIN dojangList d ON d.class_no = c.class_no
		SET a.status = #{status}
		WHERE a.idx = #{dojang_no} AND a.member_id = #{member_id} -->
		
		UPDATE apply a
		SET a.status = #{status}
		WHERE a.class_no = 3 AND a.idx = #{dojang_no} 
		AND a.member_id = #{member_id}
	</update>
	
	<!-- 도장 가입 대기상태 변경 시 알림 -->
	<insert id="JoinStatusChangeNotiD" parameterType="hashmap">
		INSERT INTO noti(class_no,noti_content,idx,info,member_id)
			values(3
					,CONCAT("모임 가입 ", #{status},"되었습니다.")
					,#{dojang_no}
					,(select dojang_title from dojanglist where dojang_no = #{dojang_no})
					,#{member_id})
	</insert>
	
	
	<!-- 번개모임 수정 -->
	<update id="leaderLightEdit" parameterType="hashmap">
		UPDATE lightningList l SET l.lightning_status = #{lightning_status}
			,l.member_num = #{member_num}
			,l.lightning_content = #{lightning_content}
		WHERE l.lightning_no = #{lightning_no}
	</update>
	
	<!-- 도장깨기 수정 -->
	<update id="leaderDojangEdit" parameterType="hashmap">
		UPDATE dojangList d SET d.dojang_status = #{dojang_status}
			,d.people_num = #{people_num}
			,d.dojang_content = #{dojang_content}
		WHERE d.dojang_no = #{dojang_no}
	</update>
	
	<!-- 나의 모임 관리 (게시글) / 도장 -->
	<select id="myGroupPostSettingD" parameterType="hashmap" resultType="leader">
		SELECT p.dojangPost_no
			,p.member_id
			,p.dojangPost_subject
			,p.dojangPost_date
			,p.dojang_no
		FROM dojangPost p
		JOIN dojangList d ON d.dojang_no = p.dojang_no
		WHERE p.dojang_no = #{dojang_no}
		ORDER BY dojangPost_no DESC limit #{cnt} OFFSET #{offset}
	</select>
	
	<select id="allCount" parameterType="hashmap" resultType="int">
		SELECT COUNT(dojangPost_no)
		FROM dojangPost p
		JOIN dojangList d ON d.dojang_no = p.dojang_no
		WHERE p.dojang_no = #{dojang_no}
	</select>
	
	<select id="myGroupEtcD" parameterType="String" resultType="leader">
		SELECT d.dojang_title
			,(SELECT COUNT(groupReview_no) FROM groupReview g WHERE g.member_id =#{param1}) AS post_count
			,(SELECT COUNT(comment_no) FROM comment c WHERE c.member_id =#{param1}) AS comment_count
			,(SELECT photo_newFileName FROM photo p WHERE p.class_no=9 AND p.idx = (SELECT profile_no FROM profile f WHERE f.member_id =#{param1})) AS photo_newFileName
		FROM dojangList d
		WHERE d.dojang_no = #{param2}
	</select>
	
	<!-- 나의 모임 관리 (댓글) / 번개 -->
	<select id="myGroupPostSettingL" parameterType="hashmap" resultType="leader">
		SELECT l.lightning_no,l.lightning_title,l.lightning_create FROM lightningList l WHERE lightning_no = #{lightning_no}
		ORDER BY lightning_no DESC limit #{cnt} OFFSET #{offset}
	</select>
	
	<select id="allCount2" parameterType="hashmap" resultType="int">
		SELECT COUNT(lightning_no) FROM lightningList l
		WHERE lightning_no = #{lightning_no}
	</select>
	
	<select id="myGroupEtcL" parameterType="String" resultType="leader">
		SELECT l.lightning_title
			,(SELECT COUNT(groupReview_no) FROM groupReview g WHERE g.member_id =#{param1}) AS post_count
			,(SELECT COUNT(comment_no) FROM comment c WHERE c.member_id =#{param1}) AS comment_count
			,(SELECT photo_newFileName FROM photo p WHERE p.class_no=9 AND p.idx = (SELECT profile_no FROM profile f WHERE f.member_id =#{param1})) AS photo_newFileName
		FROM lightningList l
		WHERE l.lightning_no = #{param2}
	</select>
	
	<!-- 나의 모임 관리 (회원) -->
	<!-- <select id="myGroupMemberSetting" resultType="leader">
		SELECT (SELECT a.member_id FROM apply a WHERE a.status = "승인" AND l.lightning_no = idx) AS lightning_member
			,(SELECT a.member_id FROM apply a WHERE a.status = "승인" AND d.dojang_no = idx) AS dojang_member
			,m.member_name
		FROM member m
		<where>
			<if test="class_no == 1">
				l.lightning_no = #{idx}
			</if>
			<if test="class_no != 1">
				d.dojang_no = #{idx}
			</if>
		</where>
	</select>
	
	<select id="allCount2" resultType="int">
		SELECT (SELECT a.member_id FROM apply a WHERE a.status = "승인" AND l.lightning_no = idx) AS lightning_member
			,(SELECT a.member_id FROM apply a WHERE a.status = "승인" AND d.dojang_no = idx) AS dojang_member
			,m.member_name
		FROM member m
		<where>
			<if test="class_no == 1">
				l.lightning_no = #{idx}
			</if>
			<if test="class_no != 1">
				d.dojang_no = #{idx}
			</if>
		</where>
	</select> -->
	
	<!-- 나의 모임관리 - 회원 / 도장 -->
	<select id="dojangMember" resultType="leader">
		SELECT a.member_id, m.member_name
		FROM apply a
		LEFT OUTER JOIN member m ON a.member_id = m.member_id
		WHERE a.class_no = 3 AND a.status = "승인" and a.idx = #{param1}
	</select>
	
	<update id="memberGetOutD" parameterType="hashmap">
		UPDATE apply a SET a.status = "강퇴"
			,a.reason = #{reason}
		WHERE a.class_no = 3 AND a.idx = #{dojang_no} AND a.member_id = #{member_id}
	</update>
	
	<!-- 나의 모임 관리 - 회원 / 도장 -->
	<select id="lightMember" resultType="leader">
		SELECT a.member_id, m.member_name
		FROM apply a
		LEFT OUTER JOIN member m ON a.member_id = m.member_id
		WHERE a.class_no = 1 AND a.status = "승인" and a.idx = #{param1}
	</select>
	
	<update id="memberGetOutL" parameterType="hashmap">
		UPDATE apply a SET a.status = "강퇴"
			,a.reason = #{reason}
		WHERE a.class_no = 1 AND a.idx = #{lightning_no} AND a.member_id = #{member_id}
	</update>
	
	<!-- 모임 삭제 -->
	<update id="leaderLightDelete" parameterType="String">
		UPDATE lightningList SET lightning_status = "삭제"
		WHERE lightning_no = #{param1}
	</update>
	
	<update id="leaderDojangDelete" parameterType="String">
		UPDATE dojangList SET dojang_status = "삭제"
		WHERE dojang_no = #{param1}
	</update>
	
	<!-- 번개모임 삭제 알림  -->
	<insert id="lightDelNoti" >
		INSERT INTO noti(class_no,noti_content,idx,info,member_id)
		SELECT 1
				,"모임글이 삭제 됐습니다."
				,#{param1}
				,(select lightning_title from lightninglist where lightning_no = #{param1})
				, member_id
		FROM apply WHERE status IN("승인","대기") AND class_no = 1 AND idx=#{param1}
	</insert>
	
	<!-- 도장모임 삭제 알림  -->
	<insert id="DojangDelNoti" >
		INSERT INTO noti(class_no,noti_content,idx,info,member_id)
		SELECT 3
				,"모임글이 삭제 됐습니다."
				,#{param1}
				,(select dojang_title from dojanglist where dojang_no = #{param1})
				, member_id
		FROM apply WHERE status IN("승인","대기") AND class_no = 3 AND idx=#{param1}
	</insert>
	
	<!-- 번개 모임 추방 알림 -->
	<insert id="lightGetOutNoti" parameterType="hashmap">	
		INSERT INTO noti(class_no,noti_content,idx,info,member_id)
		values(1
				,CONCAT("모임에서 강퇴되었습니다. 사유: ",#{reason})
				,#{lightning_no}
				,(select lightning_title from lightninglist where lightning_no = #{lightning_no})
				,#{member_id})
	</insert>
	
	<!-- 도장 모임 추방 알림 -->
	<insert id="DojangGetOutNoti" parameterType="hashmap">
		INSERT INTO noti(class_no,noti_content,idx,info,member_id)
		values(3
				,CONCAT("모임에서 강퇴되었습니다. 사유: ",#{reason})
				,#{dojang_no}
				,(select dojang_title from dojanglist where dojang_no = #{dojang_no})
				,#{member_id})
	</insert>
</mapper>