<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmt.moim.dao.LightningDAO">
	
	<select id="foodList" resultType="com.jmt.moim.dto.LightningDTO">
		SELECT * FROM food
	</select>
	
	
</mapper>